{% extends 'layout/base.html' %}

{%block title%}Quên mật khẩu{%endblock%}

{% block card_header %}<i class="bi bi-question-circle me-2"></i>Quên mật khẩu{%endblock%}

{% block card_body %}
<div class="p-3">
    {% if err_msg %}
    <div class="alert alert-danger mt-3">{{ err_msg }}</div>
    {% endif %}
    <div class="collapse {% if not show_step2 %}show{% endif %} multi-collapse" id="step1">
        <form method="post">
            <input type="hidden" name="step" value="1">
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" name="username" id="username" placeholder="Nhập tài khoản"
                       required oninput="this.value = this.value.replace(/\s/g, '')">
                <label for="username">Nhập tài khoản</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email" required
                       oninput="this.value = this.value.replace(/^\s+/g, '')">
                <label for="email">Nhập email</label>
            </div>
            <div class="mt-4 text-end">
                <button class="btn btn-primary" type="submit">Tiếp theo <i class="bi bi-arrow-right"></i></button>
            </div>
        </form>
    </div>
    <div class="collapse {% if show_step2 %}show{% endif %} multi-collapse" id="step2">
        <form method="post">
            {% if has_otp %}
            <div class="form-floating mt-3 mb-3 alert alert-primary">
                <p class="fw-bold m-0">Kiểm tra email để nhận mã xác nhận</p>
            </div>
            {%endif%}
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" name="verify" id="verify"
                       placeholder="Mã xác nhận" required minlength="6" maxlength="6" pattern="[0-9]{6}"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <label for="verify">Nhập mã xác nhận</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="password" class="form-control" id="new_password" name="new_password"
                       placeholder="Mật khẩu mới" required oninput="this.value = this.value.replace(/\s/g, '')">
                <label for="new_password">Nhập mật khẩu mới</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="password" class="form-control" id="re_enter_password" name="re_enter_password"
                       placeholder="Nhập lại mật khẩu" required
                       oninput="this.value = this.value.replace(/\s/g, '')">
                <label for="re_enter_password">Nhập lại mật khẩu</label>
            </div>
            <div class="mt-4 d-flex justify-content-between">
                {% if has_otp %}
                <button class="btn btn-primary" type="submit" name="step" value="2">
                    Đổi mật khẩu
                </button>
                {% else %}
                <button class="btn btn-warning" type="submit" name="step" value="resend" formnovalidate>
                    <i class="bi bi-envelope-paper"></i> Gửi lại mã
                </button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{%endblock%}