<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
     style="z-index: 1200; height: var(--header-height);">
    <div class="container-fluid">
        <button class="btn btn-outline-light me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
            <i class="bi bi-list-ul"></i>
        </button>
        <div class="d-flex align-items-center ms-auto">
            {%if current_user.is_authenticated%}
            <div class="d-flex dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false" style="padding:0 16px 0 0">
                    <img src="{{current_user.anh_chan_dung}}" class="rounded-circle border border-light"
                         alt="..."
                         style="width: 35px; height: 35px; object-fit: cover;">
                </a>
                <ul class="dropdown-menu dropdown-menu-start">
                    <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-person-vcard-fill me-2"></i>Họ
                        và tên: {{current_user.ho_va_ten}}</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-person-vcard me-2"></i>Mã
                        {{current_user.ten_vai_tro}}: {{ current_user.ma_nguoi_dung }}</a></li>
                    <li><a href="/profile" class="dropdown-item"><i class="bi bi-person-fill me-2"></i>Thông tin cá
                        nhân</a></li>
                    <li><a class="dropdown-item" href="/change_password"><i class="bi bi-unlock-fill me-2"></i>Đổi mật khẩu</a>
                    </li>
                    {%if current_user.vai_tro.value==1 and current_user.tinh_trang_xac_nhan_email==False%}
                    <li><a class="dropdown-item" href="/verify"><i class="bi bi-envelope-check-fill me-2"></i>Xác nhận
                        email</a></li>
                    {%endif%}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right me-2"></i>Đăng xuất</a>
                    </li>
                </ul>
            </div>
            {%endif%}
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>