:root {
    --header-height: 56px;
    --sidebar-width: 20vw;
    --table-width: 150px;
    --color-none-hover: #f2f2f2;
    --color-not-none: #cfe2ff;
    --color-not-none-hover: #9ec5fe;
}

.sidebar-custom {
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
}

.container-aside {
    min-width: var(--sidebar-width);
}

.container-content {
    min-width: 0;
}
.table-custom td {
    cursor: pointer;
}

.table-custom td:not(.co-mon-hoc):hover {
    background-color: var(--color-none-hover);
}

.co-mon-hoc {
    background-color: var(--color-not-none);
    color: black;
}

.co-mon-hoc:hover {
    background-color: var(--color-not-none-hover) !important;
}

.schedule-cell {
    width: var(--table-width);
    min-width: var(--table-width);
    height: var(--table-width);
    white-space: normal;
    vertical-align: top;
}

.schedule-cell-empty {
    width: var(--table-width);
    min-width: var(--table-width);
    height: var(--table-width);
}

@media (max-width: 768px) {
    :root{
        --sidebar-width: 40vw;
    }

    .container-aside {
        min-width: calc(100vw - var(--sidebar-width));
    }

    header:has(button[aria-expanded="true"]) {
        min-width: calc(100vw + calc(100vw - var(--sidebar-width)));
    }

    body:has(button[aria-expanded="true"]) footer {
        min-width: calc(100vw + calc(100vw - var(--sidebar-width)));
    }

    header, body footer {
        transition: min-width 0.35s ease;
        min-width: 100%;
    }

    .container-content {
        min-width: 100%;
    }
}